<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="console" xsi:type="Console" layout="${processid}:${threadid} ${level}|${message}|${exception}" />
    <target name="file" xsi:type="File" fileName="log.txt" keepFileOpen="true" concurrentWrites="true" layout="${date:format=HH\:mm\:ss}|${level}|${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="data" minlevel="Warn" writeTo="file" />
  </rules>
</nlog>